img {
    display: block;
    max-width: 1000px;
}

body {
    background-color: black;
    color: whitesmoke;
    margin: 8px;
    display: block;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

a {
    color: teal;
}